.record-grid {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-areas: '. . .'
        '. table . '
        '. . .';
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-columns: auto 0.4fr auto;
    background-color: #000000CF;
}

.record-grid>.table {
    grid-area: table;
    width: 100%;
}

.record-grid>.table>table.table {
    padding: 3px;
    background-color: #FFFFFFA0;
    border-radius: 5px;
    width: 100%;
    color: #000;
}

.record-grid>.table>table.table td,
th {
    text-align: center;
    font-size: 150%;
}

.record-grid>.table>table.table tr:nth-child(even) {
    background-color: #FFFFFFA0;
}

.record-grid>.table>table.table tr.highlight {
    background-color: #76FF03a0;
}